// #region HOME

.home {
  height: calc(100vh - 6rem);
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $quaternary-color;

  &__container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  &__title {
    color: $primary-color;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__logo {
    position: relative;
    margin-bottom: 30px;
    // ANIMATION 1
    transform: translateY(-500px);
    animation: 1.3s titleAnim cubic-bezier(0, 0.55, 0.45, 1) forwards;
    @keyframes titleAnim {
      to {
        transform: initial;
      }
    }

    img {
      position: absolute;
      top: -145px;
      left: -240px;
    }
  }
  &__subtitle {
    opacity: 0.7;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    // ANIMATION2
    animation: text 5s 1;

    @keyframes text {
      0% {
        letter-spacing: 9px;
      }
      30% {
        letter-spacing: 12px;
      }
      80% {
        letter-spacing: 9px;
      }
    }
  }

  &__description {
    max-width: 100%;
    font-size: 1.1rem;
    line-height: 1.7;
    padding: 35px;
  }
  &__card {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 100%;
    max-width: 300px;
    img {
      width: 100%;
    }
  }

  &__rightSection {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  &__socialNetwork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    a,
    img {
      font-size: 40px;
      color: $primary-color;
    }
  }

  &__cvIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      color: $quinary-color;
    }
  }
  &__btn {
    width: 200px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  button {
    background-color: $quaternary-color;
  }

  button:hover {
    color: $quinary-color;
    background-color: $primary-color;
  }
}

// #endregion ACCUEIL

@media screen and (max-width: 768px) {
  .home {
    height: auto;
    &__img {
      margin-top: 25px;
      max-width: 300px;
    }

    &__container {
      flex-direction: column-reverse;
    }
    &__logo {
      min-width: 360px;

      img {
        width: 100%;
        position: absolute;
        top: -120px;
        left: -20px;
      }
    }

    &__card {
      width: 100%;
    }
    &__description {
      max-width: max-content;
    }
    &__rightSection {
      flex-direction: column;
      justify-content: center;
      margin: 0 0 60px 0;
    }
    &__socialNetwork {
      flex-direction: row;
      align-items: center;
      margin-top: 15px;
      gap: 10px;
    }

    &__cv {
      width: 100%;
    }

    &__cva {
      width: 45px;
      height: 50px;
    }
  }
}
