.TimelineNavButton-sc-1apb8f9-2 {
  background: #303030 !important;
}

.my-title{
  color: #f6eeea !important;
  background-color: #cdbab1 !important;
}

.timeline-circle {
  background: #303030 !important;
} 

.timeline-circle.active{
  border: 3px solid #cdbab1 !important;
  background: white !important;

}

.my-card{
  background-color: #cdbab1 !important;
  padding: 15px;
  border-radius: 15px !important;
}

.my-card-title{
  color: #303030 !important;
  margin-bottom: 5px !important;
}

.my-card-subtitle{
  color: #303030 !important;
  opacity: 0.7;
}

.my-card-text{
  color: #fff !important;
  margin: 0 0 0 2px !important;
}

.my-card-text:nth-child(1){
  font-weight: bold;
}

.timelineContent p{
  color: #fff;

}

.Outline-sc-cif21b-3 {
  background-color: #303030 !important;
}

@media screen and (max-width: 950px) {
  .TimelineContentContainer-sc-18iuiou-5 {
    min-width: 0px !important;
    max-height: 150px !important;
    margin-bottom: 50px;
  }

}