// #region Contact

.contact {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
  flex-direction: column;
  background-color: $quinary-color;

  &_description{
    text-align: center;
    max-width: 50%;
  }

  &_title {
    color: $primary-color;
    font-size: 3.25rem;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &_details {
    font-size: 1.2rem;
    color: $secondary-color;
  }

  &_container {
    max-width: 868px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    background-color: $quinary-color;
  }
  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 30px;
    background-color: $secondary-color;
    color: $quinary-color;
    border-radius: 15px;
    a{
      color: $quinary-color;
    }
  }
  &_icon {
    font-size: 5rem;
    padding: 0 0 20px 0;
  }
  &_info {
    font-size: 1.2rem;
  }
}



// #endregion Contact
