// #region Contact

.contact {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
  flex-direction: column;
  background-color: $quinary-color;

  &_description {
    text-align: center;
    max-width: 100%;
    width: 50%;
  }

  &_title {
    color: $primary-color;
    font-weight: 500;
    font-size: 3.25rem;
    margin-bottom: 15px;
  }

  &_details {
    font-size: 1.2rem;
    color: $secondary-color;
  }

  &_container {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    background-color: $quinary-color;
    gap: 20px;
  }

  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 250px; 
    max-height: 500px;
    height: auto;
    background-color: $secondary-color;
    color: $quinary-color;
    border-radius: 15px;
    padding: 30px;
    a {
      color: $quinary-color;
      text-decoration: none;
    }
  }
  &_icon {
    font-size: 3rem; 
    padding-bottom: 10px;
  }
  &_info {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    height: auto;
    margin-top: 50px;
  }
}

// #endregion Contact
